body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-project: Inter;
  --font-logo: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-grey-input-subBckg: #f0f1f2;
  --color-grey-input-focus: #d9dbdb;
  --color-blue-input-focus: #405e88;
  --color-blue-footer: #00153e;
  --color-green: #469e86;
  --color-grey-card-bckgd: #f5eeee;

  /* Gaps */
  /* --gap-5xs: 8px; */

  /* Paddings */
  /* --padding-5xs: 8px; */
}
