body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% de la hauteur de la fenêtre */
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 8.5%;
}

main {
  flex: 1;
  background: url("./images/background.jpg") center/cover no-repeat;
}

#logo {
  padding-top: 12px;
  padding-left: 16px;
}

#logo a {
  text-decoration: none;
  color: var(--color-green);
  font-family: var(--font-logo);
  font-size: var(--font-size-xl);
}

#link-header {
  padding-top: 12px;
  padding-right: 16px;
}

#link-header a {
  text-decoration: none;
  color: black;
}

#booking-link {
  margin-left: 32px;
}

#firstText {
  text-align: center;
  color: white;
}

#secondText {
  text-align: center;
  color: white;
}

#blockContainer {
  display: flex;
  margin-left: 330px;
  margin-top: 48px;
  gap: 120px; /* Ajoute un espace de 20 pixels entre les blocs */
}

#block1,
#block2 {
  width: 250px; /* Largeur du carré */
  height: 290px; /* Hauteur du carré */
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#picTrain {
  align-items: center;
  margin-left: 80px;
  margin-top: 56px;
}

#picTrain img {
  width: 50%; /* Ajustez le pourcentage selon vos besoins */
  height: auto;
}

#txtBlock2 {
  text-align: center;
}

#block2 hr {
  width: 80%;
  border: 1px solid green;
  margin-top: 32px;
  margin-bottom: 32px;
}

#block1 {
  width: 250px;
  height: 290px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu horizontalement */
}

#inputBlock1 {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu horizontalement */
}

#inputBlock1 input {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

#search {
  margin-top: 32px;
}

#searchBtn {
  padding: 8px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: darkgreen;
}
