body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 8.5%;
}

#logo {
  padding-top: 12px;
  padding-left: 16px;
}

#logo a {
  text-decoration: none;
  color: var(--color-green);
  font-family: var(--font-logo);
  font-size: var(--font-size-xl);
}

#link-header {
  padding-top: 12px;
  padding-right: 16px;
}

#link-header a {
  text-decoration: none;
  color: black;
}

#booking-link {
  margin-left: 32px;
}

/* Volet Main */
main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-input-subBckg);
  padding: 5%;
}

.container-cart-booking {
  display: flex;
  flex-direction: column;
  min-height: 136px;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#text-title,
#question-result {
  font-family: var(--font-project);
  font-size: var(--font-size-xs);
  text-align: center;
  margin-bottom: 15px;
}

/* Container Footer Styles */
#container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#container-footer button {
  background-color: var(--color-green);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-sm);
}

#container-footer button:hover {
  background-color: darkgreen;
}

/* Styles pour la partie ajoutée par le script */
.ticket-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.ticket-info span {
  margin-bottom: 5px;
}

.date {
  font-size: var(--font-size-xs);
  color: #777;
}

.price {
  font-weight: bold;
  color: var(--color-green);
}
.total-info {
  font-weight: bold;
  font-size: var(--font-size-sm);
  margin-bottom: 10px;
}
